<a href="https://colab.research.google.com/github/joanaromerohdz1-lang/SEM_MINERIA_DE-_DATOS/blob/main/Empleados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**FUNCIONES AVANZADAS - PANDAS (PART 1)**

In [11]:
import pandas as pd
df = pd.read_csv('empleados.csv')
df.abs

#mostrar la info tecnica del dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   emp_id      20 non-null     int64
 1   name        20 non-null     object
 2   city        20 non-null     object
 3   dept        20 non-null     object
 4   level       20 non-null     object
 5   hire_date   20 non-null     object
 6   salary_mxn  20 non-null     int64
 7   perf_score  20 non-null     float64
 8   projects    20 non-null     int64
 9   warnings    20 non-null     int64
 10  absences    20 non-null     int64
dtypes: float64(1), int64(5), object(5)
memory usage: 1.8+ KB

**1-**Obtén todas las filas del depto "Eng" que además tengan perf_score >= 0.85, pero muestra solo las columnas: emp_id, name, city, perf_score, salary_mxn.

In [12]:
df.loc[
    (df['dept'] == 'Eng') & (df['perf_score'] >= 0.85),
    ['emp_id', 'name', 'city', 'perf_score', 'salary_mxn']
]

    emp_id   name  city  perf_score  salary_mxn
6      107  Karla   MTY        0.95       40000
11     112  Ramon  CDMX        0.92       90000

**2-**Del DataFrame completo, obtén las filas 3 a 8 (incluyendo 3 y excluyendo 8), y solo las columnas 0, 1, 5 y 6 (por posición).

In [14]:
df.iloc[3:8, [0, 1, 5, 6]]

   emp_id   name   hire_date  salary_mxn
3     104  Jorge  2023-03-20       51000
4     105  Sofia  2022-09-05       30000
5     106  Diego  2021-02-14       78000
6     107  Karla  2025-07-01       40000
7     108  Pedro  2020-10-30       35000

**3-Calcula:**Filtra empleados que estén en city CDMX o GDL, con warnings == 0 y absences <= 1. Muestra emp_id, name, city, warnings, absences.

In [8]:
df.loc[
    (df['city'].isin(['CDMX', 'GDL'])) &
    (df['warnings'] == 0) &
    (df['absences'] <= 1),
    ['emp_id', 'name', 'city', 'warnings', 'absences']
]

    emp_id      name  city  warnings  absences
1      102      Luis   GDL         0         0
3      104     Jorge  CDMX         0         0
11     112     Ramon  CDMX         0         1
16     117  Fernanda  CDMX         0         0

**4-Calcula:**
salario promedio (salary_mxn)
perf promedio (perf_score)
total de warnings (warnings)

In [9]:
df.agg({
    'salary_mxn': 'mean',
    'perf_score': 'mean',
    'warnings': 'sum'
})

salary_mxn    43200.0000
perf_score        0.8145
warnings         14.0000
dtype: float64

**5-Por cada dept, calcula:**
número de empleados
salario promedio
perf promedio
Ordena el resultado por salario promedio descendente.

In [10]:
df.groupby('dept') \
  .agg(
      num_empleados=('emp_id', 'count'),
      salario_promedio=('salary_mxn', 'mean'),
      perf_promedio=('perf_score', 'mean')
  ) \
  .sort_values(by='salario_promedio', ascending=False)

       num_empleados  salario_promedio  perf_promedio
dept
Eng                6      62833.333333          0.835
Sales              6      35833.333333          0.780
Ops                5      34400.000000          0.780
HR                 3      33333.333333          0.900