<a href="https://colab.research.google.com/github/joanaromerohdz1-lang/SEM_MINERIA_DE-_DATOS/blob/main/practica_orders_loc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

** FUMCIONES AVANZADAS DE PANDAS**

In [1]:
import pandas as pd
df = pd.read_csv('orders.csv')
df.abs

#mostrar la info tecnica del dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        30 non-null     int64
 1   order_date      30 non-null     object
 2   user_id         30 non-null     int64
 3   user_name       30 non-null     object
 4   segment         30 non-null     object
 5   city            30 non-null     object
 6   state           30 non-null     object
 7   channel         30 non-null     object
 8   product         30 non-null     object
 9   category        30 non-null     object
 10  quantity        30 non-null     int64
 11  unit_price      30 non-null     float64
 12  discount        30 non-null     float64
 13  returned        30 non-null     bool
 14  payment_method  30 non-null     object
 15  gross           30 non-null     float64
 16  net             30 non-null     float64
dtypes: bool(1), float64(4), int64(3), object(9)
memory usage: 3.9+ KB

In [ ]:
#mostrar los primeros registros
df.head(6)

In [ ]:
#mostrr los ultimos 6 registros
df.tail(6)

funcion.**loc**

In [ ]:
#seleccionar la columna "user_name"
#sintaxis df_loc(fila,columna)
df.loc[:,"user_name"]

In [ ]:
#mostrar el registro de la fila 2
df.loc[1,:]

In [ ]:
#user_name,product,order_id,order_date
df.loc[:,["order_id","user_name","product","order_date"]]

**CONDICIONES**:

In [ ]:
#filtrar on una condicion y elegir las columnas
df.loc[df["city"]=="CDMX",["order_id","product","order_date","payment_method","city"]]

    order_id           product  order_date payment_method  city
0       1001     Laptop Sleeve  2026-01-02           card  CDMX
3       1004       Monitor 24"  2026-01-03           card  CDMX
8       1009          Notebook  2026-01-06           cash  CDMX
12      1013     Standing Desk  2026-01-09       transfer  CDMX
18      1019  Smartphone Stand  2026-01-12           card  CDMX
22      1023         Floor Mat  2026-01-15           cash  CDMX
25      1026      Sticky Notes  2026-01-17           cash  CDMX
26      1027        USB-C Dock  2026-01-18           card  CDMX

In [ ]:
#filtrar con varias condiciones
#"category","discount"
#"categoria")="electronico y descuento"

x=(df["category"]=="Electronics")&(df['discount']>0.1)
df.loc[x,["order_id","product","discount","payment_method","category"]]

    order_id        product  discount payment_method     category
3       1004    Monitor 24"      0.15           card  Electronics
16      1017  Ergo Keyboard      0.15           card  Electronics
24      1025         Router      0.20           card  Electronics

**FUNCION .ILOC**

In [ ]:
#mostrar la columna "user_name" utilizando .iloc
#sintaxis df_loc(fila,columna)
df.iloc[:,3]

0       Ana
1      Luis
2     Marta
3     Jorge
4       Ana
5     Sofia
6     Diego
7     Karla
8     Pedro
9      Luis
10    Elena
11    Marta
12    Ramon
13    Paula
14     Hugo
15    Diego
16    Sofia
17     Nora
18     Ivan
19    Lucia
20    Elena
21    Paula
22    Ramon
23     Luis
24    Karla
25    Pedro
26    Jorge
27     Hugo
28      Ana
29     Nora
Name: user_name, dtype: object

In [ ]:
#mostar filas especificas del 0 al 5=rango
df.iloc[0:5]

In [ ]:
#mostar filas especificas del 0,3,6
df.iloc[[0,3,6]]

In [ ]:
#mostrar las 5 primers filas y 4 columnas
df.iloc[0:5,0:4]

   order_id  order_date  user_id user_name
0      1001  2026-01-02        1       Ana
1      1002  2026-01-02        2      Luis
2      1003  2026-01-03        3     Marta
3      1004  2026-01-03        4     Jorge
4      1005  2026-01-04        1       Ana

**FUNCIONES QUERY=CONSULTAS**

In [ ]:
#Consultaa simple para mostrar todos los registros de CDMX
df.query("city == 'CDMX'")

,order_id,order_date,user_id,user_name,segment,city,state,channel,product,category,quantity,unit_price,discount,returned,payment_method,gross,net
0,1001,2026-01-02,1,Ana,Consumer,CDMX,CDMX,web,Laptop Sleeve,Accessories,1,35.0,0.10,False,card,35.0,31.5
3,1004,2026-01-03,4,Jorge,Small Biz,CDMX,CDMX,app,"Monitor 24""",Electronics,1,160.0,0.15,False,card,160.0,136.0
8,1009,2026-01-06,8,Pedro,Consumer,CDMX,CDMX,store,Notebook,Stationery,5,2.5,0.00,False,cash,12.5,12.5
12,1013,2026-01-09,10,Ramon,Small Biz,CDMX,CDMX,store,Standing Desk,Furniture,1,420.0,0.10,False,transfer,420.0,378.0
18,1019,2026-01-12,14,Ivan,Consumer,CDMX,CDMX,web,Smartphone Stand,Accessories,2,14.0,0.10,False,card,28.0,25.2
22,1023,2026-01-15,10,Ramon,Small Biz,CDMX,CDMX,web,Floor Mat,Furniture,1,30.0,0.00,False,cash,30.0,30.0
25,1026,2026-01-17,8,Pedro,Consumer,CDMX,CDMX,app,Sticky Notes,Stationery,6,1.5,0.00,False,cash,9.0,9.0
26,1027,2026-01-18,4,Jorge,Small Biz,CDMX,CDMX,web,USB-C Dock,Electronics,1,175.0,0.10,False,card,175.0,157.5

In [ ]:
# Mostrar los registros que sean de CDMX,electronicos,y con un descuento igual a -1
df.query("city == 'CDMX' and category == 'Electronics' and discount == .1")

,order_id,order_date,user_id,user_name,segment,city,state,channel,product,category,quantity,unit_price,discount,returned,payment_method,gross,net
26,1027,2026-01-18,4,Jorge,Small Biz,CDMX,CDMX,web,USB-C Dock,Electronics,1,175.0,0.1,False,card,175.0,157.5

In [ ]:
#mostrar los registros que sean de CDMX,GDL CON UN DESCUENTO IGUAL A -1
dis = 0.1
ciudades=["CDMX", "GDL"]
df.query("discount == @dis and city in @ciudades")

,order_id,order_date,user_id,user_name,segment,city,state,channel,product,category,quantity,unit_price,discount,returned,payment_method,gross,net
0,1001,2026-01-02,1,Ana,Consumer,CDMX,CDMX,web,Laptop Sleeve,Accessories,1,35.0,0.1,False,card,35.0,31.5
12,1013,2026-01-09,10,Ramon,Small Biz,CDMX,CDMX,store,Standing Desk,Furniture,1,420.0,0.1,False,transfer,420.0,378.0
18,1019,2026-01-12,14,Ivan,Consumer,CDMX,CDMX,web,Smartphone Stand,Accessories,2,14.0,0.1,False,card,28.0,25.2
21,1022,2026-01-15,11,Paula,Consumer,GDL,JAL,app,Bluetooth Speaker,Electronics,1,80.0,0.1,False,card,80.0,72.0
26,1027,2026-01-18,4,Jorge,Small Biz,CDMX,CDMX,web,USB-C Dock,Electronics,1,175.0,0.1,False,card,175.0,157.5

**AGREGACION**
.sum().mean().median().count().min().max()

In [ ]:
#Mostrar suma,promedio,mediana,min y max

df["net"].sum()

np.float64(2336.95)

In [ ]:

df["net"].mean()

np.float64(77.89833333333333)

In [ ]:
df["net"].median()

46.375

In [ ]:
df["net"].count()

np.int64(30)

In [ ]:
df["net"].min(),df["net"].max()

(9.0, 378.0)

In [ ]:
#aplicamos las funciones suma,media,minimo y maximo a las columnas "unite_price","net"
df[["unit_price","net"]].agg(["sum","mean","min","max"])

      unit_price          net
sum       2415.0  2336.950000
mean        80.5    77.898333
min          1.5     9.000000
max        420.0   378.000000

In [ ]:
#diferentes funciones
df.agg({
    "net" : ["sum","mean"],
    "unit_price" : ["max","min"],
    "discount" : ["mean","max"]
})

              net  unit_price  discount
sum   2336.950000         NaN       NaN
mean    77.898333         NaN  0.056667
max           NaN       420.0  0.200000
min           NaN         1.5       NaN

GROUPPBT

In [ ]:
#agrupaar por columna
g=df.groupby("city")
g.first()

In [7]:
#ver que grupos existen
g=df.groupby("city")
g.groups.keys()

dict_keys(['CDMX', 'GDL', 'MTY', 'Mrida', 'Puebla', 'QRO'])

In [12]:
g.ngroups

6

In [41]:
g2 = df.groupby(["state","channel"])
g2.groups.keys()

dict_keys([('CDMX', 'app'), ('CDMX', 'store'), ('CDMX', 'web'), ('JAL', 'app'), ('JAL', 'store'), ('JAL', 'web'), ('NL', 'app'), ('NL', 'store'), ('NL', 'web'), ('PUE', 'app'), ('PUE', 'web'), ('QRO', 'store'), ('QRO', 'web'), ('YUC', 'app'), ('YUC', 'web')])

In [ ]:
#ventas netas por ciudad
df.groupby("city")["net"].sum()

In [ ]:
#suma,,promedio,contar
df.groupby("city")["net"].agg(["sum","mean","count","min","max"])

In [ ]:
df.groupby("category").agg(
    net_sum = ("net","sum"),
    net_mean = ("net","mean"),
    orders = ("order_id","munique"),
    discount_mean = ("discount","max")
)

**sort_values() sort_index()**

In [ ]:
#decendente
df.sorted = df.sort_values("net")
df.sorted.head()

In [ ]:
#ascendente
df.sorted = df.sort_values("net",ascending=False)
df.sorted.head()

In [ ]:
df.sorted = df.sort_values(by=["net","unit_price"],ascending=[True,False])
display(df.sorted.head())

In [ ]:
#elegir donde van los valores nlos
#ordenar por columnas
df.sorted = df.sort_values("net",na_position="first")
df.sorted.head()

In [ ]:
df2 = df.set_index("order_date")
df=df.sort_index()
df2.head()

In [ ]:
#ordena aalfabeticamnte los encabezados
#axis=1 ordenar por columnas
#axis=0 ordenar por FILAS
df.cols_sorted = df.sort_index(axis=1)
df.cols_sorted.head()

**FUNCION MARGE**

In [ ]:
df.info()

In [ ]:
#crear una nueva taabla
users = (
    df[["user_id","user_name","segment"]]
    .drop_duplicates("user_id")

)
users.head()

In [ ]:
df1=df.merge(users,on="user_id",how="left",suffixes=("","_user"),validate="many_to_one")
df1.head()

In [ ]:
a=df.iloc[:10]
b=df.iloc[10:]

reconstruido=pd.concat([a,b],ignore_index=True)
reconstruido